input {
  border: none;
  border-color: transparent;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 6px;
}

input:focus {
  border: none;
  border-color: transparent;
  outline: none;
}

.create-post {
  width: 85%;
  max-width: 1450px;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

hr {
  width: 100%;
  margin-top: 0;
}

.row {
  margin-bottom: 10px;
}
